body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
section{
    display: flex;
    margin-bottom: 80px;
}
h1{
    font-weight: bolder;
}
p{
    font-size: 20px;
}
.lets-help{
    text-align: center;
    color: white;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(image/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.donate-now{
    text-decoration: none;
    color:wheat;
    background-color: tomato;
    border-radius: 15px;
    padding: 10px;
}
.donate-button{
    text-decoration: none;
    margin-left: 46%;
    color: wheat;
    background-color: tomato;
    border-radius: 15px;
    padding: 10px;
}
.donate-today{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.section-hadding{
    margin:10px;
    padding: 50px;
    background-color: rgb(238, 234, 234); 
}
.section-align{
    margin-left: 15%;
    margin-right: 15%;
}
.section-border{
    color: red;
    margin: 10px;
    padding: 50px;
    border: 2px;
    border-style: solid;
    border-color: rgb(236, 14, 14);
    background-color: rgb(241, 194, 194);
}
.other-taka{
    text-align: center;
    margin-top: 5ch;
}
.food-for{
    width: 30%;
    background-color: rgba(135, 206, 250, 0.589);
    margin-left: 10%;
    padding-left: 20px;
    padding-top: 50px;
    padding-right: 20px;
}
.shelter{
    width: 30%;
    background-color: lightsalmon;
    margin-left: 1%;
    padding-left: 20px;
    padding-top: 50px;
    padding-right: 20px;
}
.education{
    width: 30%;
    background-color: rgba(241, 129, 85, 0.486);
    margin-left: 1%;
    margin-right: 10%;
    padding-left: 20px;
    padding-top: 50px;
    padding-right: 20px;
}
.Their-lives{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}    
.Their-lives img{
    margin-left: 40px;
    margin-right: 40px;
    width: 50%;
}
.last-part{
    text-align: center;
    background-color: rgb(12, 12, 12);
    padding: 50px 50px;
}
.subscribe-button{
    margin-left: 100px;
    margin-right: 100px;
    padding: 100px 400px 100px 400px;
    background-color: burlywood;
}
.sub-button{
    font-weight: 500;
    font-size: 20px;
    background-color: red;
}
.be-humble{
    color: brown;
    font-style: oblique;
}
.i-m{
    color: white;
}
